@import "variable.styl"
@import "mixin.styl"
html, body
  margin: 0
  padding: 0
  background-color: #efeff4

p, ol, ul, li
  margin: 0
  padding: 0

a
  text-decoration: none

[gourl]
  cursor: pointer

button
  margin: 0
  padding: 0
  border: none
  border-radius: 0
  outline: 0
  background: transparent
  color: $color-text-main

view, div
  color: $color-text-main
  font-size: $font-size-14
  box-sizing: border-box

navigator
  color: $color-text-main
  text-decoration: none
  box-sizing: border-box

image
  display: inline-block

.ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

// 边框
.border-top-1px
  border-top-1px()

.border-right-1px
  border-right-1px()

.border-bottom-1px
  border-bottom-1px()

.border-left-1px
  border-left-1px()

.border-1px
  border-1px()

