.num-wrap
  width: 100%
  display flex
  align-items flex-end
  justify-content space-between
  font-size $font-size-13
// 详情 主页面 现金价金豆组合
.pay-money
  color: $color-money
  display: flex
  align-items: flex-end
  .money-icon
    margin-right:1px
    font-size: $font-size-16
    line-height:$font-size-16
    transform: translateY(-1px)

  .num
    font-size $font-size-23
    line-height:$font-size-23
    font-bold()

  .add-icon
    font-size $font-size-22
    line-height:$font-size-22
    margin:0 1px
    transform: translateY(-1px)
  .bean-text
    font-size: $font-size-17
    margin-left:2px
    transform: translateY(-1px)


  &.common
    color: $color-text-main
    //提交订单总额，
  &.middle-total
    .money-icon
      font-size $font-size-13
      line-height:$font-size-13
    .num
      font-size $font-size-19
      line-height:$font-size-19
    .add-icon
      font-size $font-size-19
      line-height:$font-size-19

    .bean-text
      font-size: $font-size-15
      font-bold()
  // 分类列表，首页列表 每项
  &.middle-big
    .money-icon
      font-size $font-size-14
      line-height:$font-size-12
    .num
      font-size $font-size-16
      line-height:$font-size-16
    .add-icon
      font-size $font-size-15
      line-height:$font-size-15

    .bean-text
      font-size: $font-size-13
  //   详情弹框金额  ，购物车订单总额
  &.middle
    .money-icon
      font-size $font-size-14
      line-height:$font-size-14
    .num
      font-size $font-size-20
      line-height:$font-size-20
    .add-icon
      font-size $font-size-20
      line-height:$font-size-20

    .bean-text
      font-size: $font-size-15
  // 提交订单中间合计
  &.middle-small
    .money-icon
      font-size $font-size-12
      line-height:$font-size-12

    .num
      font-size $font-size-15
      line-height:$font-size-15

    .add-icon
      font-size: $font-size-15
      line-height:$font-size-15

    .bean-text
      font-size: $font-size-12
      font-bold()

  //  提交订单单个金额
  &.small
    .money-icon
      font-size: $font-size-11
      line-height:$font-size-11

    .num
      font-size: $font-size-14
      line-height:$font-size-14

    .add-icon
      font-size: $font-size-14
      line-height:$font-size-14

    .bean-text
      font-size: $font-size-12

  //    购物车商品单个金额
  &.mini
    .money-icon
      font-size: $font-size-12
      line-height:$font-size-12

    .num
      font-size: $font-size-17
      line-height:$font-size-17

    .add-icon
      font-size: $font-size-17
      line-height:$font-size-17

    .bean-text
      font-size: $font-size-13
